.candidateCard {
  text-align: center;
  height: 30rem;
  width: 49%;
  padding: 2rem 3rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  overflow: auto;
  & span {
    margin: 2px;
  }
  & .panel .panel-default {
    text-align: justify;
  }

  & hr {
    margin-bottom: 5px;
  }

  &__appliedDate {
    font-size: 1.2rem;
  }
  &__skilled {
    font-size: 1.5rem;
    margin: 0;
  }
  &__cv {
    font-size: 1.3rem;
    text-align: left;
  }
  &__notes {
    font-size: 1.5rem;
    text-align: justify;

    & .well {
      margin-bottom: 0;
    }
  }

  & .tooltipFix {
    right: 5rem;
  }
}
