.filterForm {
  display: flex;
  justify-content: center;

  & .DateRangePicker_1 {
    margin: 0 5px;
    border-radius: 5px;
  }

  & .textFilter {
    height: 48px;
    margin-left: 5px;

    width: 27rem;
  }

  & .sortFilter {
    height: 48px;
  }
}
