html {
  font-size: 62.5%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  min-height: 100%;
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100%;
  background: #546e7a url("/images/ricepaper2.png"); }

a {
  color: #616161; }
  a:hover {
    text-decoration: none;
    color: #212121; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.button,
.button:link,
.button:visited {
  padding: 13px 0;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  outline: none; }
  .button:hover,
  .button:link:hover,
  .button:visited:hover {
    background: #333;
    border: 1px solid #333;
    color: #fefefe;
    border-radius: 30px; }
  .button:focus,
  .button:link:focus,
  .button:visited:focus {
    outline: none; }

.box-layout__box .button {
  padding: 13px 10px; }
  .box-layout__box .button:hover {
    background: #01887b; }

.buttonDanger,
.buttonDanger:link,
.buttonDanger:visited {
  border: 1px solid #333;
  color: #ffd54f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out; }
  .buttonDanger:hover,
  .buttonDanger:link:hover,
  .buttonDanger:visited:hover {
    background: #f44336;
    border: 1px solid #333;
    color: #fefefe;
    border-radius: 30px; }

.buttonInfo,
.buttonInfo:link,
.buttonInfo:focus,
.buttonInfo:visited {
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  margin-bottom: 3px; }
  .buttonInfo:hover,
  .buttonInfo:link:hover,
  .buttonInfo:focus:hover,
  .buttonInfo:visited:hover {
    background: #333;
    color: #fefefe;
    border: 1px solid #333;
    border-radius: 30px; }

.custom-btn {
  padding: 2px 5px;
  background: transparent;
  outline: none !important;
  cursor: default;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 5px; }

.buttonLabel {
  border: 2px solid #000;
  margin: 3px 2px;
  z-index: 1; }

.buttonLabel:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease; }

.filterForm .buttonLabel:after {
  background: #757575; }

.buttonLabel:hover {
  color: #fff; }

.buttonLabel:hover:after {
  top: 0;
  height: 100%; }

.buttonLabel:active {
  top: 2px; }

.buttonDl {
  margin: 10px auto;
  box-sizing: border-box;
  height: 25px;
  display: table;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  transition: background 0.5s;
  cursor: pointer; }
  .buttonDl span {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    color: #2d3142;
    box-shadow: 0 0 0 3px #2d3142 inset;
    background: transparent; }
  .buttonDl .away {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .buttonDl .over {
    display: none; }
  .buttonDl:hover span.away {
    display: none; }
  .buttonDl:hover span.over {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    box-shadow: none; }
  .buttonDl:hover {
    background: #2d3142; }

.box-layout {
  background: #546e7a url("/images/bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .box-layout__box {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    text-align: center;
    width: 45rem;
    padding: 5rem; }
  .box-layout__title {
    margin: 0 0 1.6rem 0;
    line-height: 1;
    border-bottom: 0.5px solid #212121;
    padding: 5px;
    font-size: 3.7rem;
    color: #505758; }
  .box-layout__subtitle {
    margin: 0 0 1.6rem 0;
    line-height: 1; }

.header {
  text-align: center;
  background: url("/images/bg.jpg") 0% 50%;
  height: 15rem;
  border: none;
  border-radius: 0; }
  .header .container {
    height: 100%;
    padding-top: 2rem;
    background: rgba(0, 0, 0, 0.5); }
  .header a {
    margin-top: 2.5rem;
    color: #fffeff !important;
    transition: all 0.3s ease-in-out; }
    .header a:hover {
      color: #b5df00 !important; }
  .header__navlink {
    margin-left: 4rem;
    width: 15rem; }
  .header .navbar-brand {
    font-size: 3rem;
    color: #fffeff;
    cursor: default;
    padding-bottom: 2rem;
    height: 100%;
    transition: all 0.3s ease-in-out; }
    .header .navbar-brand:hover {
      color: #b5df00; }
    .header .navbar-brand p {
      font-size: 1.5rem;
      color: #b5df00; }
  .header .loadSamples {
    font-size: 1.4rem; }

.is-active {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.54); }

.filterForm {
  display: flex;
  justify-content: center; }
  .filterForm .DateRangePicker_1 {
    margin: 0 5px 0 5px;
    border-radius: 5px; }
  .filterForm input[type="text"] {
    margin-left: 5px; }
  .filterForm .textFilter {
    height: 47px;
    width: 27rem; }
  .filterForm .sortFilter {
    height: 46px; }

.candidateList {
  display: flex;
  padding: 1rem;
  flex-flow: row wrap;
  font-family: "Open Sans", sans-serif;
  /* optional: show position indicator in red */ }
  .candidateList ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */ }
  .candidateList ::-webkit-scrollbar-thumb {
    background: #ff0000; }

.list__message {
  padding: 5rem 0;
  font-size: 2.5rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }

.candidateCard {
  text-align: center;
  height: 30rem;
  width: 49%;
  padding: 2rem 3rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  overflow: auto;
  transition: background 0.3s ease; }
  .candidateCard span {
    margin: 2px; }
  .candidateCard .panel .panel-default {
    text-align: justify; }
  .candidateCard hr {
    margin-bottom: 5px; }
  .candidateCard__appliedDate {
    font-size: 1.2rem; }
  .candidateCard__skilled {
    font-size: 1.5rem;
    margin: 0; }
  .candidateCard__cv {
    font-size: 1.3rem;
    text-align: left; }
  .candidateCard__notes {
    font-size: 1.5rem;
    text-align: justify; }
    .candidateCard__notes .well {
      margin-bottom: 0; }
  .candidateCard .tooltipFix {
    right: 5rem; }
  .candidateCard:hover {
    background: rgba(158, 158, 158, 0.4); }

.formCvDate {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.formContainer {
  width: 70%;
  margin: 0 auto; }
  .formContainer .btn-block {
    width: 60%;
    margin: 0 auto; }

.textCenter {
  text-align: center; }

.removeBtn {
  text-align: right;
  margin: 1rem;
  margin-right: 15%; }

input:hover,
textarea:hover {
  background: whitesmoke; }

.loader {
  align-items: center;
  background: white;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center; }
  .loader__image {
    height: 7rem;
    width: 7rem; }
