// REgular button
.button,
.button:link,
.button:visited {
  padding: 13px 0;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  outline: none;

  &:hover {
    background: #333;
    border: 1px solid #333;
    color: #fefefe;
    border-radius: 30px;
  }

  &:focus {
    outline: none;
  }
}

.box-layout__box .button {
  padding: 13px 10px;

  &:hover {
    background: #01887b;
  }
}
// Danger button
.buttonDanger,
.buttonDanger:link,
.buttonDanger:visited {
  // padding: 13px 0;
  border: 1px solid #333;
  color: #ffd54f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #f44336;
    border: 1px solid #333;
    color: #fefefe;
    border-radius: 30px;
  }
}
// Info button
.buttonInfo,
.buttonInfo:link,
.buttonInfo:focus,
.buttonInfo:visited {
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  margin-bottom: 3px;

  &:hover {
    background: #333;
    color: #fefefe;
    border: 1px solid #333;
    border-radius: 30px;
  }
}

// Labels for code skills
.custom-btn {
  padding: 2px 5px;
  background: transparent;
  outline: none !important;
  cursor: default;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 5px;
}
.buttonLabel {
  border: 2px solid #000;
  margin: 3px 2px;
  z-index: 1;
}
.buttonLabel:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}

.filterForm .buttonLabel:after {
  background: #757575;
}

.buttonLabel:hover {
  color: #fff;
}
.buttonLabel:hover:after {
  top: 0;
  height: 100%;
}
.buttonLabel:active {
  top: 2px;
}

// CV download button
.buttonDl {
  margin: 10px auto;
  box-sizing: border-box;
  height: 25px;
  display: table;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  transition: background 0.5s;
  cursor: pointer;

  span {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    color: $button-color;
    box-shadow: 0 0 0 3px $button-color inset;
    background: transparent;
  }

  .away {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .over {
    display: none;
  }

  &:hover span.away {
    display: none;
  }

  &:hover span.over {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    box-shadow: none;
  }

  &:hover {
    background: $button-color;
  }
}
